# The Preprocessing/EDA of LSOA atlas data by the Greater London Authority
Contains census data for LSOA boundaries in 2011. Some of the data is indicative to show trends and not the official ONS statistics. This is because of the merging of certain areas. 

Dataset source: https://data.london.gov.uk/dataset/lsoa-atlas

1.1 Loading the dataset from an .xlsx file to a Pandas DataFrame, then displaying the name of the sheets that have relevant information (i.e. variables/potential features)

In [37]:
import pandas as pd

# Loading the Excel file for LSOA atlas data, which I will name "lsoa_census_data" from now on.
file_path = "../../data/raw/lsoa_census.xlsx"

# Retrieving and displaying the sheet names
sheets = pd.ExcelFile(file_path).sheet_names
print("The sheet names/tables for MSOA Income Estimate data:", sheets)

The sheet names/tables for MSOA Income Estimate data: ['iadatasheet1', 'iadatasheet2', 'iadatasheet3', 'iadatasheet4', 'iadatasheet5', 'iadatasheet6', 'Metadata']

1.2 Loading Sheets 1 to 6 as DataFrames. The other sheets are irrelevant for the cleaning and analysis processes.

In [38]:
# Loading sheets as DataFrames
relevant_sheets = sheets[0:5]
lsoa_census_data = {sheet: pd.read_excel(file_path, sheet_name = sheet) 
                    for sheet in relevant_sheets}

# Exploring each DataFrame by looping through each sheet
for sheet, census in lsoa_census_data.items():
    print(f"Sheet: {sheet}")
    print(census.head())
    print(census.info())

Sheet: iadatasheet1
  Unnamed: 0           Unnamed: 1 Mid-year Population Estimates  Unnamed: 3  \
0        NaN                  NaN                      All Ages         NaN
1      Codes                Names                          2001      2002.0
2  E01000001  City of London 001A                          1615      1571.0
3  E01000002  City of London 001B                          1493      1452.0
4  E01000003  City of London 001C                          1573      1547.0

   Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1      2003.0      2004.0      2005.0      2006.0      2007.0      2008.0
2      1578.0      1559.0      1461.0      1474.0      1538.0      1504.0
3      1401.0      1398.0      1402.0      1430.0      1467.0      1417.0
4      1506.0      1487.0      1536.0      1524.0      1602.0      1499.0

   ...                       Unnamed: 200  Unnamed: 201  Unnamed: 202  \
0  ...  % Dwellings in Council Tax Band H           NaN           NaN
1  ...                               2005       2006.00       2007.00
2  ...                               0.57          0.57          0.56
3  ...                               2.85          2.85          2.85
4  ...                               0.11          0.22          0.22

   Unnamed: 203 Unnamed: 204  Unnamed: 205  Unnamed: 206  House Prices (2012)  \
0           NaN          NaN           NaN           NaN       Mean Price (Â£)
1       2008.00      2009.00       2010.00       2011.00                  NaN
2          0.56         0.66          0.95          0.95        629032.636364
3          2.89         2.92          2.92          2.72            586892.12
4          0.22         0.22          0.11          0.11               375804

   Unnamed: 208                     Unnamed: 209
0         Sales  % of dwellings sold during year
1           NaN                              NaN
2            33                          3.26087
3            25                         2.564103
4            22                          2.48307

[5 rows x 210 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4768 entries, 0 to 4767
Columns: 210 entries, Unnamed: 0 to Unnamed: 209
dtypes: float64(105), object(105)
memory usage: 7.6+ MB
None
Sheet: iadatasheet2
  Unnamed: 0           Unnamed: 1            Crime (numbers) Unnamed: 3  \
0        NaN                  NaN  Total Notifiable Offences        NaN
1      Codes                Names                    2008/09    2009/10
2  E01000001  City of London 001A                        NaN        NaN
3  E01000002  City of London 001B                        NaN        NaN
4  E01000003  City of London 001C                        NaN        NaN

  Unnamed: 4 Unnamed: 5 Unnamed: 6                   Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN  Violence Against The Person        NaN
1    2010/11    2011/12    2012/13                      2008/09    2009/10
2        NaN        NaN        NaN                          NaN        NaN
3        NaN        NaN        NaN                          NaN        NaN
4        NaN        NaN        NaN                          NaN        NaN

  Unnamed: 9  ...         Unnamed: 121         Unnamed: 122  \
0        NaN  ...                  NaN                  NaN
1    2010/11  ...  2009-05-01 00:00:00  2010-05-01 00:00:00
2        NaN  ...                   15                   10
3        NaN  ...                   15                   10
4        NaN  ...                   40                   45

          Unnamed: 123         Unnamed: 124         Unnamed: 125  \
0                  NaN                  NaN                  NaN
1  2011-05-01 00:00:00  2012-05-01 00:00:00  2013-05-01 00:00:00
2                   10                   10                   10
3                    5                   10                    5
4                   30                   25                   25

                    Employment and Support Allowance         Unnamed: 127  \
0  Number of people claiming Employment and Suppo...                  NaN
1                                2009-05-01 00:00:00  2010-05-01 00:00:00
2                                                  0                    0
3                                                  0                    0
4                                                 10                   10

          Unnamed: 128         Unnamed: 129         Unnamed: 130
0                  NaN                  NaN                  NaN
1  2011-05-01 00:00:00  2012-05-01 00:00:00  2013-05-01 00:00:00
2                    0                    0                    0
3                    5                    0                    5
4                   15                   15                   30

[5 rows x 131 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4768 entries, 0 to 4767
Columns: 131 entries, Unnamed: 0 to Unnamed: 130
dtypes: float64(8), object(123)
memory usage: 4.8+ MB
None
Sheet: iadatasheet3
  Unnamed: 0           Unnamed: 1  \
0        NaN                  NaN
1      Codes                Names
2  E01000001  City of London 001A
3  E01000002  City of London 001B
4  E01000003  City of London 001C

                                  Benefits claimants           Unnamed: 3  \
0  Number of people in the DWP working-age client...                  NaN
1                                2005-02-01 00:00:00  2005-05-01 00:00:00
2                                                 25                   25
3                                                 15                   15
4                                                115                  125

            Unnamed: 4           Unnamed: 5           Unnamed: 6  \
0                  NaN                  NaN                  NaN
1  2005-08-01 00:00:00  2005-11-01 00:00:00  2006-02-01 00:00:00
2                   30                   25                   25
3                   20                   20                   20
4                  115                  120                  120

            Unnamed: 7           Unnamed: 8           Unnamed: 9  ...  \
0                  NaN                  NaN                  NaN  ...
1  2006-05-01 00:00:00  2006-08-01 00:00:00  2006-11-01 00:00:00  ...
2                   25                   25                   35  ...
3                   20                   25                   20  ...
4                  120                  110                  115  ...

          Unnamed: 237         Unnamed: 238         Unnamed: 239  \
0                  NaN                  NaN                  NaN
1  2011-05-01 00:00:00  2011-08-01 00:00:00  2011-11-01 00:00:00
2             1.388889             1.388889             0.925926
3             0.488759             0.488759             0.488759
4             4.032258             4.032258             4.032258

          Unnamed: 240         Unnamed: 241         Unnamed: 242  \
0                  NaN                  NaN                  NaN
1  2012-02-01 00:00:00  2012-05-01 00:00:00  2012-08-01 00:00:00
2             0.959693             0.959693             0.479846
3             0.496524                    0                    0
4             3.375121             3.375121             3.375121

          Unnamed: 243         Unnamed: 244         Unnamed: 245  \
0                  NaN                  NaN                  NaN
1  2012-11-01 00:00:00  2013-02-01 00:00:00  2013-05-01 00:00:00
2             0.479846             0.479846             0.479846
3             0.496524                    0                    0
4              2.89296               2.4108              1.92864

          Unnamed: 246
0                  NaN
1  2013-08-01 00:00:00
2             0.479846
3             0.496524
4              1.92864

[5 rows x 247 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4768 entries, 0 to 4767
Columns: 247 entries, Unnamed: 0 to Unnamed: 246
dtypes: object(247)
memory usage: 9.0+ MB
None
Sheet: iadatasheet4
  Unnamed: 0           Unnamed: 1  \
0        NaN                  NaN
1      Codes                Names
2  E01000001  City of London 001A
3  E01000002  City of London 001B
4  E01000003  City of London 001C

                         Disability Living Allowance           Unnamed: 3  \
0  Number of people claiming Disability Living Al...                  NaN
1                                2005-02-01 00:00:00  2005-05-01 00:00:00
2                                                 10                   10
3                                                 10                   10
4                                                 45                   45

            Unnamed: 4           Unnamed: 5           Unnamed: 6  \
0                  NaN                  NaN                  NaN
1  2005-08-01 00:00:00  2005-11-01 00:00:00  2006-02-01 00:00:00
2                   15                   15                   15
3                   15                   15                   15
4                   50                   50                   45

            Unnamed: 7           Unnamed: 8           Unnamed: 9  ...  \
0                  NaN                  NaN                  NaN  ...
1  2006-05-01 00:00:00  2006-08-01 00:00:00  2006-11-01 00:00:00  ...
2                   10                   15                   10  ...
3                   10                   10                   10  ...
4                   45                   45                   45  ...

  Unnamed: 241 Unnamed: 242                    Unnamed: 243 Unnamed: 244  \
0          NaN          NaN  % of families with 3+ children          NaN
1       2011.0       2012.0                            2005  2006.000000
2          5.0          5.0                        7.142857     6.666667
3         10.0         10.0                       11.111111    11.111111
4          5.0          5.0                        7.142857     7.142857

  Unnamed: 245 Unnamed: 246 Unnamed: 247 Unnamed: 248 Unnamed: 249  \
0          NaN          NaN          NaN          NaN          NaN
1  2007.000000  2008.000000  2009.000000  2010.000000  2011.000000
2     6.666667     6.250000     6.250000     6.250000     6.666667
3    11.111111    11.111111    11.111111    10.526316    10.000000
4     6.666667     6.666667     6.250000     6.666667     6.250000

  Unnamed: 250
0          NaN
1  2012.000000
2     6.250000
3    10.526316
4     6.666667

[5 rows x 251 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4768 entries, 0 to 4767
Columns: 251 entries, Unnamed: 0 to Unnamed: 250
dtypes: float64(29), object(222)
memory usage: 9.1+ MB
None
Sheet: iadatasheet5
  Unnamed: 0           Unnamed: 1             Child Poverty  Unnamed: 3  \
0        NaN                  NaN  % of Children in Poverty         NaN
1      Codes                Names                      2006      2007.0
2  E01000001  City of London 001A                       5.2         2.6
3  E01000002  City of London 001B                       NaN         NaN
4  E01000003  City of London 001C                      22.5        26.2

   Unnamed: 4  Unnamed: 5  Unnamed: 6   Unnamed: 7  \
0         NaN         NaN         NaN          NaN
1      2008.0      2009.0      2010.0  2011.000000
2         2.5         2.4         2.5     4.166667
3         NaN         NaN         NaN          NaN
4        27.9        31.8        25.5    25.000000

                                Lone Parent Families   Unnamed: 9  ...  \
0  % dependent children receiving child tax-credi...          NaN  ...
1                                               2005  2006.000000  ...
2                                           4.347826     4.347826  ...
3                                                  0     0.000000  ...
4                                                 35    35.000000  ...

   Unnamed: 199  Unnamed: 200  Unnamed: 201 Unnamed: 202  \
0           NaN           NaN           NaN          NaN
1       2008/09       2009/10       2010/11      2011/12
2         255.1           NaN           NaN          825
3         222.9         252.9           156         1245
4         223.8           211         167.4        667.5

                                   Unnamed: 203 Unnamed: 204  Unnamed: 205  \
0  Average Level 3 QCDA Point Score Per Student          NaN           NaN
1                                       2006/07      2007/08       2008/09
2                                           NaN          705         956.5
3                                           915          822           780
4                                           NaN          555         671.3

   Unnamed: 206  Unnamed: 207  Unnamed: 208
0           NaN           NaN           NaN
1       2009/10       2010/11       2011/12
2           NaN           NaN         235.7
3           885           390         276.7
4           612           540         190.7

[5 rows x 209 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4768 entries, 0 to 4767
Columns: 209 entries, Unnamed: 0 to Unnamed: 208
dtypes: float64(61), object(148)
memory usage: 7.6+ MB
None

As you can see from the output above, there are numerous rows of headers that are merged and unmerged. This dataset is complex compared to the lsoa_crime and msoa_income datasets. I need to carefully look at the first 3 rows to understand their order and structures. I need to use human reasoning and manually go through each sheet to decide how I am going to combine these headers into one layer (i.e. three rows of headers into one).

1.3 Manual Approach to the Handle Multi-level Headers:

In [39]:
# Iterating over each sheet, taking the first three rows to display them.
for sheet, census in lsoa_census_data.items():
    header = census.iloc[:3] 
    print(f"Sheet: {sheet}\n{header}")

Sheet: iadatasheet1
  Unnamed: 0           Unnamed: 1 Mid-year Population Estimates  Unnamed: 3  \
0        NaN                  NaN                      All Ages         NaN
1      Codes                Names                          2001      2002.0
2  E01000001  City of London 001A                          1615      1571.0

   Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1      2003.0      2004.0      2005.0      2006.0      2007.0      2008.0
2      1578.0      1559.0      1461.0      1474.0      1538.0      1504.0

   ...                       Unnamed: 200  Unnamed: 201  Unnamed: 202  \
0  ...  % Dwellings in Council Tax Band H           NaN           NaN
1  ...                               2005       2006.00       2007.00
2  ...                               0.57          0.57          0.56

   Unnamed: 203 Unnamed: 204  Unnamed: 205  Unnamed: 206  House Prices (2012)  \
0           NaN          NaN           NaN           NaN       Mean Price (Â£)
1       2008.00      2009.00       2010.00       2011.00                  NaN
2          0.56         0.66          0.95          0.95        629032.636364

   Unnamed: 208                     Unnamed: 209
0         Sales  % of dwellings sold during year
1           NaN                              NaN
2            33                          3.26087

[3 rows x 210 columns]
Sheet: iadatasheet2
  Unnamed: 0           Unnamed: 1            Crime (numbers) Unnamed: 3  \
0        NaN                  NaN  Total Notifiable Offences        NaN
1      Codes                Names                    2008/09    2009/10
2  E01000001  City of London 001A                        NaN        NaN

  Unnamed: 4 Unnamed: 5 Unnamed: 6                   Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN  Violence Against The Person        NaN
1    2010/11    2011/12    2012/13                      2008/09    2009/10
2        NaN        NaN        NaN                          NaN        NaN

  Unnamed: 9  ...         Unnamed: 121         Unnamed: 122  \
0        NaN  ...                  NaN                  NaN
1    2010/11  ...  2009-05-01 00:00:00  2010-05-01 00:00:00
2        NaN  ...                   15                   10

          Unnamed: 123         Unnamed: 124         Unnamed: 125  \
0                  NaN                  NaN                  NaN
1  2011-05-01 00:00:00  2012-05-01 00:00:00  2013-05-01 00:00:00
2                   10                   10                   10

                    Employment and Support Allowance         Unnamed: 127  \
0  Number of people claiming Employment and Suppo...                  NaN
1                                2009-05-01 00:00:00  2010-05-01 00:00:00
2                                                  0                    0

          Unnamed: 128         Unnamed: 129         Unnamed: 130
0                  NaN                  NaN                  NaN
1  2011-05-01 00:00:00  2012-05-01 00:00:00  2013-05-01 00:00:00
2                    0                    0                    0

[3 rows x 131 columns]
Sheet: iadatasheet3
  Unnamed: 0           Unnamed: 1  \
0        NaN                  NaN
1      Codes                Names
2  E01000001  City of London 001A

                                  Benefits claimants           Unnamed: 3  \
0  Number of people in the DWP working-age client...                  NaN
1                                2005-02-01 00:00:00  2005-05-01 00:00:00
2                                                 25                   25

            Unnamed: 4           Unnamed: 5           Unnamed: 6  \
0                  NaN                  NaN                  NaN
1  2005-08-01 00:00:00  2005-11-01 00:00:00  2006-02-01 00:00:00
2                   30                   25                   25

            Unnamed: 7           Unnamed: 8           Unnamed: 9  ...  \
0                  NaN                  NaN                  NaN  ...
1  2006-05-01 00:00:00  2006-08-01 00:00:00  2006-11-01 00:00:00  ...
2                   25                   25                   35  ...

          Unnamed: 237         Unnamed: 238         Unnamed: 239  \
0                  NaN                  NaN                  NaN
1  2011-05-01 00:00:00  2011-08-01 00:00:00  2011-11-01 00:00:00
2             1.388889             1.388889             0.925926

          Unnamed: 240         Unnamed: 241         Unnamed: 242  \
0                  NaN                  NaN                  NaN
1  2012-02-01 00:00:00  2012-05-01 00:00:00  2012-08-01 00:00:00
2             0.959693             0.959693             0.479846

          Unnamed: 243         Unnamed: 244         Unnamed: 245  \
0                  NaN                  NaN                  NaN
1  2012-11-01 00:00:00  2013-02-01 00:00:00  2013-05-01 00:00:00
2             0.479846             0.479846             0.479846

          Unnamed: 246
0                  NaN
1  2013-08-01 00:00:00
2             0.479846

[3 rows x 247 columns]
Sheet: iadatasheet4
  Unnamed: 0           Unnamed: 1  \
0        NaN                  NaN
1      Codes                Names
2  E01000001  City of London 001A

                         Disability Living Allowance           Unnamed: 3  \
0  Number of people claiming Disability Living Al...                  NaN
1                                2005-02-01 00:00:00  2005-05-01 00:00:00
2                                                 10                   10

            Unnamed: 4           Unnamed: 5           Unnamed: 6  \
0                  NaN                  NaN                  NaN
1  2005-08-01 00:00:00  2005-11-01 00:00:00  2006-02-01 00:00:00
2                   15                   15                   15

            Unnamed: 7           Unnamed: 8           Unnamed: 9  ...  \
0                  NaN                  NaN                  NaN  ...
1  2006-05-01 00:00:00  2006-08-01 00:00:00  2006-11-01 00:00:00  ...
2                   10                   15                   10  ...

  Unnamed: 241 Unnamed: 242                    Unnamed: 243 Unnamed: 244  \
0          NaN          NaN  % of families with 3+ children          NaN
1       2011.0       2012.0                            2005  2006.000000
2          5.0          5.0                        7.142857     6.666667

  Unnamed: 245 Unnamed: 246 Unnamed: 247 Unnamed: 248 Unnamed: 249  \
0          NaN          NaN          NaN          NaN          NaN
1  2007.000000      2008.00      2009.00      2010.00  2011.000000
2     6.666667         6.25         6.25         6.25     6.666667

  Unnamed: 250
0          NaN
1      2012.00
2         6.25

[3 rows x 251 columns]
Sheet: iadatasheet5
  Unnamed: 0           Unnamed: 1             Child Poverty  Unnamed: 3  \
0        NaN                  NaN  % of Children in Poverty         NaN
1      Codes                Names                      2006      2007.0
2  E01000001  City of London 001A                       5.2         2.6

   Unnamed: 4  Unnamed: 5  Unnamed: 6   Unnamed: 7  \
0         NaN         NaN         NaN          NaN
1      2008.0      2009.0      2010.0  2011.000000
2         2.5         2.4         2.5     4.166667

                                Lone Parent Families   Unnamed: 9  ...  \
0  % dependent children receiving child tax-credi...          NaN  ...
1                                               2005  2006.000000  ...
2                                           4.347826     4.347826  ...

   Unnamed: 199  Unnamed: 200  Unnamed: 201 Unnamed: 202  \
0           NaN           NaN           NaN          NaN
1       2008/09       2009/10       2010/11      2011/12
2         255.1           NaN           NaN          825

                                   Unnamed: 203 Unnamed: 204  Unnamed: 205  \
0  Average Level 3 QCDA Point Score Per Student          NaN           NaN
1                                       2006/07      2007/08       2008/09
2                                           NaN          705         956.5

   Unnamed: 206  Unnamed: 207  Unnamed: 208
0           NaN           NaN           NaN
1       2009/10       2010/11       2011/12
2           NaN           NaN         235.7

[3 rows x 209 columns]

I want to simplify the sheets one by one, as much as I can. So I am going to start with the first sheet until the sixth sheet, listing what I am going to remove:
1. First sheet:
   - Column 3 to 86 - I do not need all the ages for multiple years. I will use the 2011 Census Population which has simplified that category to columns)
   - Column 117 to 125 - 2011 Religion data is not of interest to me. But I will keep Ethnic groups/Country of Birth for now.
   - Column 137 to 151 - Vacant Dwelling/Stock Total is not needed as I am more interested in the Dwelling type (2011).
   - Column 152 to 207 - I do not need Dwelling by Council Tax Data
   - Column 208 to 210 - This is about Sales in House Prices which is highly aggregated and not directly correlated with the levels of income in a given ares.
2. Second sheet:
   - Column 3 to 44 - Crime numbers but keeping the crime rates because they are normalised.
   - Column 103 - I do not think apprenticeships will give clear insights about income levels, and  other there are other interesting categories regarding qualifications and education levels.
   - Column 108 to 124 and 126 to 131 - Workplace Employment is not as insightful as Employment rates. And the Claimant Count for JobSeekers Allowance will be removed except the one for May-11 and May-12.
3. I am removing the whole third sheet, because this is about Pensions etc.
4. Fourth sheet:
   - Column 3 to 72 - Disability Living Allowance, which is not of interest.
   - Column 143 to 168 - 2008/2010 data that is not within the range of interest (i.e. 2011/12)
   - Column 171 to 186 - 2005/2008, same reason as above
   - Column 228 - 251 - Only interested in the total number of children whose parents have claimed benefits for.
5. Fifth sheet:
   - Column 28 to 32 - Free School Meals can be removed except the total amount.
   - Column 34 to 51 - Pupil Absences will be removed except the number for Unauthorised Absence in All Schools and Persistent Absentees in All Schools.
   - Column 64 to 103 - Early Stages and KS1 will be removed for simplification purposes and older children will provide more insights in terms of income levels and educational development. Therefore KS2 and onwards will be used as features.
   - Column 104 to 136 - KS2 will be removed except for Average Point Score of Pupils
   - Column 146 to 181 - GCSE but Average Capped GCSE is more useful to the research, as it disregards additional subjects and focuses on the top 9 performing subjects/grades of students.
   - Column 192 to 203 - A/AS Level removed except for Level 3 QCDA Point Score Per Student.
   - Remove all columns from Column 3 onwards that are not about "2011", "2012" or "2011/12"
6. Remove the whole of the sixth sheet because it is about 2010 data.

A lot of these columns are removed because of multicollinearity purposes and as a preliminary step of cleaning/preprocessing.

In [41]:
# Defining a function that can clean each sheet 
def clean_sheet(lsoa_data, sheet_name):
    if sheet_name == 'iadatasheet1':
        # Dropping the columns by range
        lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[2:86], errors='ignore')  # Columns 3 to 86
        lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[116:125], errors='ignore')  # Columns 117 to 125
        lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[136:210], errors='ignore')  # Columns 137 to 210

    elif sheet_name == 'iadatasheet2':
        lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[2:44], errors='ignore')  # Columns 3 to 44
        lsoa_data = lsoa_data.drop(columns=[102], errors='ignore')  # Column 103
        lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[107:124], errors='ignore')  # Columns 108 to 124
        lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[125:131], errors='ignore')  # Columns 126 to 131

    elif sheet_name == 'iadatasheet3':
        # Removing the entire sheet
        return None

    elif sheet_name == 'iadatasheet4':
        lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[2:72], errors='ignore')  # Columns 3 to 72
        lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[142:168], errors='ignore')  # Columns 143 to 168
        lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[170:186], errors='ignore')  # Columns 171 to 186
        lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[227:251], errors='ignore')  # Columns 228 to 251, keep total for children

    elif sheet_name == 'iadatasheet5':
        lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[27:32], errors='ignore')  # Columns 28 to 32
        lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[33:51], errors='ignore')  # Columns 34 to 51
        lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[63:103], errors='ignore')  # Columns 64 to 103
        lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[103:136], errors='ignore')  # Columns 104 to 136
        lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[145:181], errors='ignore')  # Columns 146 to 181
        lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[191:203], errors='ignore')  # Columns 192 to 203

    elif sheet_name == 'iadatasheet6':
        # Removing the entire sheet
        return None

    # Removing the first column
    lsoa_data = lsoa_data.drop(columns=lsoa_data.columns[0], errors='ignore')
    
    return lsoa_data

# Iterating over sheets and cleaning them
lsoa_cleaned_sheets = {}
for sheet_name, lsoa_data in lsoa_census_data.items():
    lsoa_cleaned_data = clean_sheet(lsoa_data, sheet_name)
    if lsoa_cleaned_data is not None:
        lsoa_cleaned_sheets[sheet_name] = lsoa_cleaned_data

# Saving the cleaned sheets to a new Excel file
output_path = '../../data/processed/lsoa_data_cleaned.xlsx'
with pd.ExcelWriter(output_path) as writer:
    for sheet_name, lsoa_data in lsoa_cleaned_sheets.items():
        lsoa_data.to_excel(writer, sheet_name=sheet_name, index=False)

print(f"The cleaned sheets have been saved to {output_path} successfully")

The cleaned sheets have been saved to ../../data/processed/lsoa_data_cleaned.xlsx successfully

I realise that I need to manually rearrange the columns and headers, for the sake of time. The process will take too long through Python code.

In [42]:
# Reading the cleaned Excel file and display the first three rows of each sheet
output_path = '../../data/processed/lsoa_data_cleaned.xlsx'

# Loading the cleaned sheets into a dictionary
cleaned_lsoa_data = pd.read_excel(output_path, sheet_name=None)

# Displaying the first three rows for each sheet
for sheet_name, lsoa_data in cleaned_lsoa_data.items():
    print(f"The first three rows of sheet: {sheet_name}")
    print(lsoa_data.head(3))
    print("\n" + "-" * 50 + "\n")

The first three rows of sheet: iadatasheet1
            Unnamed: 1 2011 Census Population Unnamed: 87 Unnamed: 88  \
0                  NaN          Age Structure         NaN         NaN
1                Names               All Ages        0-15       16-29
2  City of London 001A                   1465         115         216

  Unnamed: 89 Unnamed: 90 Unnamed: 91  Unnamed: 92 Population Density (2011)  \
0         NaN         NaN         NaN          NaN       Persons per hectare
1       30-44       45-64         65+  Working-age                       NaN
2         379         487         268         1082                112.865948

  Households (2011)  ...                       Unnamed: 191  \
0    All households  ...  % Dwellings in Council Tax Band F
1               NaN  ...                               2010
2               876  ...                              13.81

                        Unnamed: 192                       Unnamed: 193  \
0  % Dwellings in Council Tax Band F  % Dwellings in Council Tax Band G
1                               2011                               2005
2                              13.81                              30.85

                        Unnamed: 194                       Unnamed: 195  \
0  % Dwellings in Council Tax Band G  % Dwellings in Council Tax Band G
1                               2006                               2007
2                              30.79                              30.79

  Unnamed: 196 Unnamed: 197                       Unnamed: 198  \
0          NaN          NaN  % Dwellings in Council Tax Band G
1      2008.00      2009.00                               2010
2        30.79        30.73                              30.76

                        Unnamed: 199                     Unnamed: 209
0  % Dwellings in Council Tax Band G  % of dwellings sold during year
1                               2011                              NaN
2                              30.76                          3.26087

[3 rows x 116 columns]

--------------------------------------------------

The first three rows of sheet: iadatasheet2
            Unnamed: 1              Crime (rates) Unnamed: 45 Unnamed: 46  \
0                  NaN  Total Notifiable Offences         NaN         NaN
1                Names                    2008/09     2009/10     2010/11
2  City of London 001A                        NaN         NaN         NaN

                 Unnamed: 47                Unnamed: 48  \
0  Total Notifiable Offences  Total Notifiable Offences
1                    2011/12                    2012/13
2                        NaN                        NaN

                   Unnamed: 49 Unnamed: 50 Unnamed: 51  \
0  Violence Against The Person         NaN         NaN
1                      2008/09     2009/10     2010/11
2                          NaN         NaN         NaN

                   Unnamed: 52  ...         Unnamed: 121         Unnamed: 122  \
0  Violence Against The Person  ...                  NaN                  NaN
1                      2011/12  ...  2009-05-01 00:00:00  2010-05-01 00:00:00
2                          NaN  ...                   15                   10

          Unnamed: 123         Unnamed: 124         Unnamed: 125  \
0                  NaN                  NaN                  NaN
1  2011-05-01 00:00:00  2012-05-01 00:00:00  2013-05-01 00:00:00
2                   10                   10                   10

                    Employment and Support Allowance         Unnamed: 127  \
0  Number of people claiming Employment and Suppo...                  NaN
1                                2009-05-01 00:00:00  2010-05-01 00:00:00
2                                                  0                    0

          Unnamed: 128         Unnamed: 129         Unnamed: 130
0                  NaN                  NaN                  NaN
1  2011-05-01 00:00:00  2012-05-01 00:00:00  2013-05-01 00:00:00
2                    0                    0                    0

[3 rows x 88 columns]

--------------------------------------------------

The first three rows of sheet: iadatasheet4
            Unnamed: 1                            Income Support  \
0                  NaN  Number of people claiming Income Support
1                Names                       2005-02-01 00:00:00
2  City of London 001A                                        10

           Unnamed: 73          Unnamed: 74          Unnamed: 75  \
0                  NaN                  NaN                  NaN
1  2005-05-01 00:00:00  2005-08-01 00:00:00  2005-11-01 00:00:00
2                    5                    5                    5

           Unnamed: 76          Unnamed: 77          Unnamed: 78  \
0                  NaN                  NaN                  NaN
1  2006-02-01 00:00:00  2006-05-01 00:00:00  2006-08-01 00:00:00
2                    5                    5                    5

           Unnamed: 79          Unnamed: 80  ... Unnamed: 241 Unnamed: 242  \
0                  NaN                  NaN  ...          NaN          NaN
1  2006-11-01 00:00:00  2007-02-01 00:00:00  ...       2011.0       2012.0
2                    5                    5  ...          5.0          5.0

                     Unnamed: 243 Unnamed: 244 Unnamed: 245 Unnamed: 246  \
0  % of families with 3+ children          NaN          NaN          NaN
1                            2005  2006.000000  2007.000000      2008.00
2                        7.142857     6.666667     6.666667         6.25

  Unnamed: 247 Unnamed: 248 Unnamed: 249 Unnamed: 250
0          NaN          NaN          NaN          NaN
1      2009.00      2010.00  2011.000000      2012.00
2         6.25         6.25     6.666667         6.25

[3 rows x 154 columns]

--------------------------------------------------

The first three rows of sheet: iadatasheet5
            Unnamed: 1             Child Poverty  Unnamed: 3  Unnamed: 4  \
0                  NaN  % of Children in Poverty         NaN         NaN
1                Names                      2006      2007.0      2008.0
2  City of London 001A                       5.2         2.6         2.5

   Unnamed: 5  Unnamed: 6   Unnamed: 7  \
0         NaN         NaN          NaN
1      2009.0      2010.0  2011.000000
2         2.4         2.5     4.166667

                                Lone Parent Families   Unnamed: 9  \
0  % dependent children receiving child tax-credi...          NaN
1                                               2005  2006.000000
2                                           4.347826     4.347826

   Unnamed: 10  ...  Unnamed: 199  Unnamed: 200 Unnamed: 201 Unnamed: 202  \
0          NaN  ...           NaN           NaN          NaN          NaN
1       2007.0  ...       2008/09       2009/10      2010/11      2011/12
2          0.0  ...         255.1           NaN          NaN          825

                                   Unnamed: 203  Unnamed: 204  Unnamed: 205  \
0  Average Level 3 QCDA Point Score Per Student           NaN           NaN
1                                       2006/07       2007/08       2008/09
2                                           NaN           705         956.5

   Unnamed: 206  Unnamed: 207 Unnamed: 208
0           NaN           NaN          NaN
1       2009/10       2010/11      2011/12
2           NaN           NaN        235.7

[3 rows x 112 columns]

--------------------------------------------------

This is looking better, but I will fill in the rest of the column headers in MS Excel and make sure leave the headers in a single row.

In [60]:
# Reading the cleaned Excel file and display the first three rows of each sheet
output_path = '../../data/processed/lsoa_data_cleaned.xlsx'

# Loading the cleaned sheets into a dictionary
cleaned_lsoa_data = pd.read_excel(output_path, sheet_name=None)

# Displaying the first three rows for each sheet
for sheet_name, lsoa_data in cleaned_lsoa_data.items():
    print(f"The first three rows of sheet: {sheet_name}")
    print(lsoa_data.head(3))
    print("\n" + "-" * 50 + "\n")

The first three rows of sheet: iadatasheet1
   lsoa_code                names  all_ages_count_2011  \
0  E01000001  City of London 001A               1465.0
1  E01000002  City of London 001B               1436.0
2  E01000003  City of London 001C               1346.0

   ages_65_plus_count_2011  working_age_count_2011  persons_per_hectare_2011  \
0                    268.0                  1082.0                112.865948
1                    269.0                  1024.0                 62.872154
2                    254.0                   988.0                227.749577

   couples_with_children_percent_2011  couples_without_children_percent_2011  \
0                            7.648402                              24.771689
1                           10.361446                              26.024096
2                            6.242350                              16.156671

   lone_parent_household_percent_2011  race_white_count_2011  ...  \
0                            2.625571                 1238.0  ...
1                            2.650602                 1274.0  ...
2                            5.997552                 1055.0  ...

   born_in_uk_percent_2011  main_language_english_adults_16_percent_2011  \
0                67.303754                                     84.360731
1                72.980501                                     88.192771
2                67.533432                                     85.312118

   tenure_ownded_outright_percent_2011  tenure_ownded_mortgage_percent_2011  \
0                            40.525114                            20.319635
1                            37.831325                            25.662651
2                            22.521420                            17.503060

   tenure_social_rented_percent_2011  tenure_private_rented_percent_2011  \
0                           4.680365                           30.136986
1                           5.783133                           26.385542
2                          36.107711                           21.664627

   dwelling_house_detached_percent_2011  \
0                              0.000000
1                              0.102459
2                              0.000000

   dwelling_house_semi_detached_percent_2011  \
0                                   0.197628
1                                   0.102459
2                                   0.000000

   dwelling_house_terraced_percent_2011  dwelling_flat_maisonette_percent_2011
0                              0.889328                              98.913043
1                              3.483607                              96.311475
2                              0.338219                              99.661781

[3 rows x 24 columns]

--------------------------------------------------

The first three rows of sheet: iadatasheet2
   lsoa_code                names  total_crime_offences_rate_2011_12  \
0  E01000001  City of London 001A                                NaN
1  E01000002  City of London 001B                                NaN
2  E01000003  City of London 001C                                NaN

   violence_against_person_rate_2011_12  robbery_rate_2011_12  \
0                                   NaN                   NaN
1                                   NaN                   NaN
2                                   NaN                   NaN

   burglary_rate_2011_12  theft_rate_2011_12  bicycle_theft_rate_2011_12  \
0                    NaN                 NaN                         NaN
1                    NaN                 NaN                         NaN
2                    NaN                 NaN                         NaN

   criminal_damage_rate_2011_12  drugs_rate_2011_12  other_rate_2011_12  \
0                           NaN                 NaN                 NaN
1                           NaN                 NaN                 NaN
2                           NaN                 NaN                 NaN

   lone_parent_household_percent_2011  employment_rate_2011  \
0                           11.111111             74.856675
1                           15.384615             74.832776
2                           30.303030             67.150635

   no_qualifcations_count_2011  highest_qualification_lvl_1_above_count_2011  \
0                         25.0                                          35.0
1                         30.0                                          41.0
2                        161.0                                          81.0

   highest_qualification_lvl_2_above_count_2011  \
0                                          75.0
1                                          71.0
2                                         111.0

   highest_qualification_lvl_3_above_count_2011  \
0                                          94.0
1                                          91.0
2                                          93.0

   highest_qualification_lvl_4_above_count_2011  jobseekers_people_count_2011  \
0                                        1047.0                          10.0
1                                        1024.0                           5.0
2                                         706.0                          30.0

   jobseekers_people_count_2012
0                          10.0
1                          10.0
2                          25.0

--------------------------------------------------

The first three rows of sheet: iadatasheet4
   lsoa_code                names  rate_of_people_income_support_2011  \
0  E01000001  City of London 001A                            0.462963
1  E01000002  City of London 001B                            0.000000
2  E01000003  City of London 001C                            2.520161

   rate_of_people_income_support_2011.1  rate_of_people_income_support_2011.2  \
0                              0.925926                              0.462963
1                              0.000000                              0.000000
2                              3.024194                              2.520161

   rate_of_people_income_support_2011.3  rate_of_people_income_support_2012  \
0                              0.462963                             0.00000
1                              0.000000                             0.00000
2                              3.024194                             1.92864

   rate_of_people_income_support_2012.1  rate_of_people_income_support_2012.2  \
0                                0.0000                                0.0000
1                                0.0000                                0.0000
2                                2.4108                                2.4108

   rate_of_people_income_support_2012.3  bad_health_percent_2011  \
0                               0.00000                 2.047782
1                               0.00000                 2.715877
2                               1.92864                 6.166419

   no_car_van_percent_2011  cars_per_household_2011  travel_time_GP_2011
0                59.246575                 0.515982             6.845040
1                57.951807                 0.531325             8.233173
2                80.171359                 0.220318             5.000000

--------------------------------------------------

The first three rows of sheet: iadatasheet5
   lsoa_code                names  children_poverty-percent_2011  \
0  E01000001  City of London 001A                       4.166667
1  E01000002  City of London 001B                            NaN
2  E01000003  City of London 001C                      25.000000

  child_tax_credit_lone_parent_percent_2011  \
0                                  8.333333
1                                         0
2                                        35

  child_out_of_work_benefit_percent_2011  \
0                               4.166667
1                                  3.125
2                                     25

  child_out_of_work_benefit_percent_2012  house_fuel_poor_percent_2011  \
0                                      0                           4.0
1                                      0                           3.8
2                                     25                           4.6

   free_school_meals_11_15_percent_2012 persistent_absentees__percent_2011_12  \
0                                   0.0                                     0
1                                   0.0                                     0
2                                   0.0                                   NaN

  avg_point_ks2_percent_2011 avg_point_ks2_percent_2012  \
0                         27                       34.5
1                         32                         33
2                       19.5                         30

   avg_lvl_3_QCDA_per_student_2011_12 avg_capped_gcse_points_per_pupil_2011_12
0                               235.7                                        .
1                               276.7                                    357.9
2                               190.7                                      365

--------------------------------------------------

This is what I refined:
- The first three rows are now consolidated into a single layer of relevant columns names
- Irrelevant years were removed, except 2011 and 2012 data.
- I changed the column names into lowercase and replaced the spaces between words with underscores.
- I extracted the metrics that are relevant to the research questions and project goals (i.e. crime, housing, education and employment rates for income estimates)

1.3 Missing Values, Data Types, Unit Consistency, and Data Integrity
- Firstly, I will merge the sheets in the refined dataset.
- Then inspect for data types, duplicates, non-numerical values, irrelevant columns etc.

In [61]:
# Updating relevant sheets because some of them have been deleted
relevant_sheets = ['iadatasheet1', 'iadatasheet2', 'iadatasheet4', 'iadatasheet5']

# Merging the DataFrame sheets in lsoa_census_data dictionary
merged_data = cleaned_lsoa_data[relevant_sheets[0]]

for sheet in relevant_sheets[1:]:
    merged_data = merged_data.merge(
        cleaned_lsoa_data[sheet],
        how= 'left',
        on= 'lsoa_code',
        suffixes=('', f'_{sheet}')  # Handling the duplicate column names
    )


# Resolving the duplicate column names 
# Keeping the first occurrence of a column with duplicates
merged_data = merged_data.loc[:, ~merged_data.columns.duplicated()]

# Validate the merge
print(merged_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4768 entries, 0 to 4767
Data columns (total 68 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   lsoa_code                                        4765 non-null   object
 1   names                                            4768 non-null   object
 2   all_ages_count_2011                              4768 non-null   float64
 3   ages_65_plus_count_2011                          4768 non-null   float64
 4   working_age_count_2011                           4768 non-null   float64
 5   persons_per_hectare_2011                         4768 non-null   float64
 6   couples_with_children_percent_2011               4768 non-null   float64
 7   couples_without_children_percent_2011            4768 non-null   float64
 8   lone_parent_household_percent_2011               4768 non-null   float64
 9   race_white_count_2011                            4768 non-null   float64
 10  race_mixed_count_2011                            4768 non-null   float64
 11  race_asian_count_2011                            4768 non-null   float64
 12  race_african_caribbean_count_2011                4768 non-null   float64
 13  race_other_count_2011                            4768 non-null   float64
 14  born_in_uk_percent_2011                          4768 non-null   float64
 15  main_language_english_adults_16_percent_2011     4768 non-null   float64
 16  tenure_ownded_outright_percent_2011              4768 non-null   float64
 17  tenure_ownded_mortgage_percent_2011              4768 non-null   float64
 18  tenure_social_rented_percent_2011                4768 non-null   float64
 19  tenure_private_rented_percent_2011               4768 non-null   float64
 20  dwelling_house_detached_percent_2011             4768 non-null   float64
 21  dwelling_house_semi_detached_percent_2011        4768 non-null   float64
 22  dwelling_house_terraced_percent_2011             4768 non-null   float64
 23  dwelling_flat_maisonette_percent_2011            4768 non-null   float64
 24  names_iadatasheet2                               4768 non-null   object
 25  total_crime_offences_rate_2011_12                4763 non-null   float64
 26  violence_against_person_rate_2011_12             4763 non-null   float64
 27  robbery_rate_2011_12                             4763 non-null   float64
 28  burglary_rate_2011_12                            4763 non-null   float64
 29  theft_rate_2011_12                               4763 non-null   float64
 30  bicycle_theft_rate_2011_12                       4763 non-null   float64
 31  criminal_damage_rate_2011_12                     4763 non-null   float64
 32  drugs_rate_2011_12                               4763 non-null   float64
 33  other_rate_2011_12                               4763 non-null   float64
 34  lone_parent_household_percent_2011_iadatasheet2  4768 non-null   float64
 35  employment_rate_2011                             4768 non-null   float64
 36  no_qualifcations_count_2011                      4768 non-null   float64
 37  highest_qualification_lvl_1_above_count_2011     4768 non-null   float64
 38  highest_qualification_lvl_2_above_count_2011     4768 non-null   float64
 39  highest_qualification_lvl_3_above_count_2011     4768 non-null   float64
 40  highest_qualification_lvl_4_above_count_2011     4768 non-null   float64
 41  jobseekers_people_count_2011                     4768 non-null   float64
 42  jobseekers_people_count_2012                     4768 non-null   float64
 43  names_iadatasheet4                               4768 non-null   object
 44  rate_of_people_income_support_2011               4768 non-null   float64
 45  rate_of_people_income_support_2011.1             4768 non-null   float64
 46  rate_of_people_income_support_2011.2             4768 non-null   float64
 47  rate_of_people_income_support_2011.3             4768 non-null   float64
 48  rate_of_people_income_support_2012               4768 non-null   float64
 49  rate_of_people_income_support_2012.1             4768 non-null   float64
 50  rate_of_people_income_support_2012.2             4768 non-null   float64
 51  rate_of_people_income_support_2012.3             4768 non-null   float64
 52  bad_health_percent_2011                          4768 non-null   float64
 53  no_car_van_percent_2011                          4768 non-null   float64
 54  cars_per_household_2011                          4768 non-null   float64
 55  travel_time_GP_2011                              4768 non-null   float64
 56  names_iadatasheet5                               4766 non-null   object
 57  children_poverty-percent_2011                    4738 non-null   float64
 58  child_tax_credit_lone_parent_percent_2011        4766 non-null   object
 59  child_out_of_work_benefit_percent_2011           4765 non-null   object
 60  child_out_of_work_benefit_percent_2012           4766 non-null   object
 61  house_fuel_poor_percent_2011                     4766 non-null   float64
 62  free_school_meals_11_15_percent_2012             4766 non-null   float64
 63  persistent_absentees__percent_2011_12            3692 non-null   object
 64  avg_point_ks2_percent_2011                       4766 non-null   object
 65  avg_point_ks2_percent_2012                       4766 non-null   object
 66  avg_lvl_3_QCDA_per_student_2011_12               4703 non-null   float64
 67  avg_capped_gcse_points_per_pupil_2011_12         4768 non-null   object
dtypes: float64(56), object(12)
memory usage: 2.5+ MB
None

Row 43 to 60 have the same names but they are quarterly rates that measure how ma, but I renamed them because I planned to aggregate them to represent 2011/12 for simplify the dataset.

In [62]:
# Calculating the annual averages
merged_data['rate_of_people_income_support_2011_avg'] = merged_data[['rate_of_people_income_support_2011', 
                                                           'rate_of_people_income_support_2011.1', 
                                                           'rate_of_people_income_support_2011.2', 
                                                           'rate_of_people_income_support_2011.3']].mean(axis=1)

merged_data['rate_of_people_income_support_2012_avg'] = merged_data[['rate_of_people_income_support_2012', 
                                                           'rate_of_people_income_support_2012.1', 
                                                           'rate_of_people_income_support_2012.2', 
                                                           'rate_of_people_income_support_2012.3']].mean(axis=1)

# Aggregating into a single variable
merged_data['rate_of_people_income_support_2011_12'] = merged_data[['rate_of_people_income_support_2011_avg', 
                                                          'rate_of_people_income_support_2012_avg']].mean(axis=1)

# Dropping the original quarterly columns and placeholder columns
columns_to_drop = ['names_iadatasheet2', 'names_iadatasheet4', 'names_iadatasheet5', 
                   'rate_of_people_income_support_2011.1', 'rate_of_people_income_support_2011.2', 
                   'rate_of_people_income_support_2011.3', 'rate_of_people_income_support_2011.1', 
                   'rate_of_people_income_support_2011.2', 'rate_of_people_income_support_2011.3']
merged_data.drop(columns=columns_to_drop, inplace=True)

1.4 KNN Imputation was used instead of Mean or Median imputation, because this methods considers the correlation with other variables and does not negatively affect the variance. Mean and Median relies on central tendency and doesnt adapt well to complex data such as the dataset which I am using. Also, this method is more realistic and is closer to reaching a true representation of data, which usually has some noise or outliers.

In [64]:
# Before I begin KNN Imputing, I need to change some column names to lowercase and correct some mistakes
merged_data.rename(columns={'avg_lvl_3_QCDA_per_student_2011_12': 'avg_lvl_3_qcda_per_student_2011_12'}, inplace=True)
merged_data.rename(columns={'lone_parent_household_percent_2011_iadatasheet2': 'lone_parent_household_percent_2011'}, inplace=True)

In [67]:
from sklearn.impute import KNNImputer
import pandas as pd

# 1. Converting the non-numeric values in numeric columns to NaN
numeric_columns = ['avg_point_ks2_percent_2011', 'avg_point_ks2_percent_2012', 'avg_capped_gcse_points_per_pupil_2011_12', 'avg_lvl_3_qcda_per_student_2011_12']
for col in numeric_columns:
    merged_data[col] = pd.to_numeric(merged_data[col], errors='coerce')

# 2. Handling missing values with KNN imputation
# Select the numeric columns (exclude columns like the target variable if needed)
numeric_columns_for_imputation = merged_data.select_dtypes(include=['float64']).columns

# Initialising KNNImputer (you can adjust n_neighbors based on your data)
knn_imputer = KNNImputer(n_neighbors = 5)

# Applying KNN imputation to the numeric columns
merged_data[numeric_columns_for_imputation] = knn_imputer.fit_transform(merged_data[numeric_columns_for_imputation])

# 3. Converting object columns like 'child_out_of_work_benefit_percent_2011' to numeric (if applicable)
merged_data['child_out_of_work_benefit_percent_2011'] = pd.to_numeric(merged_data['child_out_of_work_benefit_percent_2011'], errors='coerce')

# Checking to see if there are any columns left as objects
object_columns = merged_data.select_dtypes(include=['object']).columns
print(f"Object columns remaining: {object_columns}")

# Checking to see if there are any missing values after imputation
missing_values_after_imputation = merged_data.isnull().sum()
print(f"Missing values after KNN imputation: \n{missing_values_after_imputation}")

Object columns remaining: Index(['lsoa_code', 'names', 'child_tax_credit_lone_parent_percent_2011',
       'child_out_of_work_benefit_percent_2012',
       'persistent_absentees__percent_2011_12'],
      dtype='object')
Missing values after KNN imputation:
lsoa_code                                   3
names                                       0
all_ages_count_2011                         0
ages_65_plus_count_2011                     0
working_age_count_2011                      0
                                           ..
avg_lvl_3_qcda_per_student_2011_12          0
avg_capped_gcse_points_per_pupil_2011_12    0
rate_of_people_income_support_2011_avg      0
rate_of_people_income_support_2012_avg      0
rate_of_people_income_support_2011_12       0
Length: 65, dtype: int64

There are some missing values in the lsoa_code column. I want to check the bottom of the dataset, as I think there are totals for the other columns except the first column.

In [69]:
# Displaying the last 5 five rows
print(merged_data.tail())

      lsoa_code                    names  all_ages_count_2011  \
4763  E01004764         Westminster 013C          2410.000000
4764  E01004765         Westminster 013D          2023.000000
4765        NaN  LSOA average for London          1715.270409
4766        NaN  LSOA average for London          1715.270409
4767        NaN  LSOA average for London          1715.270409

      ages_65_plus_count_2011  working_age_count_2011  \
4763               286.000000             1912.000000
4764               190.000000             1647.000000
4765               189.851731             1184.471668
4766               189.851731             1184.471668
4767               189.851731             1184.471668

      persons_per_hectare_2011  couples_with_children_percent_2011  \
4763                 38.808374                            5.133333
4764                 75.456919                            6.074343
4765                 94.853380                           18.550124
4766                 94.853380                           18.550124
4767                 94.853380                           18.550124

      couples_without_children_percent_2011  \
4763                              16.133333
4764                              20.942883
4765                              18.954443
4766                              18.954443
4767                              18.954443

      lone_parent_household_percent_2011  race_white_count_2011  ...  \
4763                            4.466667            1706.000000  ...
4764                            5.983681            1356.000000  ...
4765                           12.848176            1025.629591  ...
4766                           12.848176            1025.629591  ...
4767                           12.848176            1025.629591  ...

      house_fuel_poor_percent_2011  free_school_meals_11_15_percent_2012  \
4763                      6.200000                             33.333333
4764                      7.200000                             33.333333
4765                      9.404554                             23.851791
4766                      9.100911                             19.477429
4767                      9.100911                             19.477429

      persistent_absentees__percent_2011_12  avg_point_ks2_percent_2011  \
4763                                    4.4                   28.700000
4764                                    NaN                   27.400000
4765                               4.740108                   27.976481
4766                                    NaN                   27.995296
4767                                    NaN                   27.995296

      avg_point_ks2_percent_2012  avg_lvl_3_qcda_per_student_2011_12  \
4763                   27.000000                          183.900000
4764                   30.000000                          238.500000
4765                   28.790321                          208.899192
4766                   28.698064                          210.559838
4767                   28.698064                          210.559838

      avg_capped_gcse_points_per_pupil_2011_12  \
4763                                358.600000
4764                                357.500000
4765                                350.286722
4766                                357.500000
4767                                350.286722

      rate_of_people_income_support_2011_avg  \
4763                                5.301047
4764                                5.103595
4765                                4.858026
4766                                4.858026
4767                                4.858026

      rate_of_people_income_support_2012_avg  \
4763                                4.046997
4764                                4.191617
4765                                3.901209
4766                                3.901209
4767                                3.901209

      rate_of_people_income_support_2011_12
4763                               4.674022
4764                               4.647606
4765                               4.379617
4766                               4.379617
4767                               4.379617

[5 rows x 65 columns]

Just as I thought but not exactly, the last three rows are LSOA averages for London. I will delete these lines.

In [71]:
# Removing the last three rows
merged_data = merged_data.iloc[:-3]

# Checking to see if it changed or not
print(merged_data.tail())

      lsoa_code             names  all_ages_count_2011  \
4757  E01004758  Westminster 010D               1270.0
4758  E01004759  Westminster 010E               1947.5
4759  E01004760  Westminster 014E               1630.0
4760  E01004761  Westminster 018D               1945.0
4761  E01004762  Westminster 011E               2070.0

      ages_65_plus_count_2011  working_age_count_2011  \
4757                     95.5                   819.5
4758                    201.0                  1236.0
4759                    160.0                  1184.0
4760                    254.0                  1532.0
4761                    323.0                  1531.0

      persons_per_hectare_2011  couples_with_children_percent_2011  \
4757                151.100535                           20.020222
4758                175.925926                           18.316195
4759                227.019499                            9.208820
4760                 37.396654                            6.543779
4761                 70.600273                            7.042254

      couples_without_children_percent_2011  \
4757                               9.403438
4758                              10.604113
4759                              18.547341
4760                              16.129032
4761                              16.549296

      lone_parent_household_percent_2011  race_white_count_2011  ...  \
4757                           23.559151                  475.0  ...
4758                           21.658098                  785.0  ...
4759                           14.267185                  950.0  ...
4760                            3.870968                 1276.0  ...
4761                            4.665493                 1348.0  ...

      house_fuel_poor_percent_2011  free_school_meals_11_15_percent_2012  \
4757                           4.8                             52.941176
4758                           8.4                             50.000000
4759                           6.5                             60.000000
4760                           8.4                              0.000000
4761                           9.1                             50.000000

      persistent_absentees__percent_2011_12  avg_point_ks2_percent_2011  \
4757                                    4.2                        27.4
4758                                    4.3                        28.5
4759                                    3.6                        26.4
4760                                    NaN                        28.5
4761                                      0                        29.1

      avg_point_ks2_percent_2012  avg_lvl_3_qcda_per_student_2011_12  \
4757                        27.4                               199.5
4758                        28.7                               203.4
4759                        28.1                               194.7
4760                        28.0                               233.3
4761                        30.0                               204.0

      avg_capped_gcse_points_per_pupil_2011_12  \
4757                                     363.3
4758                                     368.5
4759                                     380.9
4760                                     338.0
4761                                     361.4

      rate_of_people_income_support_2011_avg  \
4757                               13.863358
4758                               17.514970
4759                                7.965166
4760                                1.637197
4761                                2.126963

      rate_of_people_income_support_2012_avg  \
4757                               11.040532
4758                               13.419783
4759                                6.287298
4760                                1.021004
4761                                1.323529

      rate_of_people_income_support_2011_12
4757                              12.451945
4758                              15.467376
4759                               7.126232
4760                               1.329100
4761                               1.725246

[5 rows x 65 columns]

In [79]:
# Checking for missing values in each column
missing_values_per_column = merged_data.isnull().sum()

# Sending it to a csv file
missing_values_per_column.to_csv("../../data/raw/missing_values.csv")

This is what I saw was missing: 
child_out_of_work_benefit_percent_2011	37 missing (float column)
persistent_absentees__percent_2011_12	1072 missing (object column of percentages)

Applying KNN Imputation but I have to convert the object column first.

In [83]:
# Creating a copy of merged_data 
merged_data = merged_data.copy()

# 1. Handling the missing values in 'child_out_of_work_benefit_percent_2011' (float column)
# Convert non-numeric values in this column to NaN
merged_data.loc[:, 'child_out_of_work_benefit_percent_2011'] = pd.to_numeric(merged_data['child_out_of_work_benefit_percent_2011'], errors='coerce')

# Applying KNN imputation to the column
knn_imputer = KNNImputer(n_neighbors = 5)
merged_data.loc[:, ['child_out_of_work_benefit_percent_2011']] = knn_imputer.fit_transform(merged_data[['child_out_of_work_benefit_percent_2011']])

# 2. Handling missing values in 'persistent_absentees__percent_2011_12' (object column)
# First, removing any '%' characters and convert to numeric
merged_data.loc[:, 'persistent_absentees__percent_2011_12'] = merged_data['persistent_absentees__percent_2011_12'].replace('%', '', regex=True)
merged_data.loc[:, 'persistent_absentees__percent_2011_12'] = pd.to_numeric(merged_data['persistent_absentees__percent_2011_12'], errors='coerce')

# Applying KNN imputation to the column
merged_data.loc[:, ['persistent_absentees__percent_2011_12']] = knn_imputer.fit_transform(merged_data[['persistent_absentees__percent_2011_12']])

# 3. Checking for missing values after imputation
# Checking missing values only for the specified columns
columns_of_interest = ['child_out_of_work_benefit_percent_2011', 'persistent_absentees__percent_2011_12']
missing_values_for_selected_columns = merged_data[columns_of_interest].isnull().sum()

print(f"Missing values for selected columns: \n{missing_values_for_selected_columns}")

Missing values for selected columns:
child_out_of_work_benefit_percent_2011    0
persistent_absentees__percent_2011_12     0
dtype: int64

Before Feature Engineering, I am going to change two columns that are objects, to a float column.

In [85]:
# Converting 'child_tax_credit_lone_parent_percent_2011' and 'child_out_of_work_benefit_percent_2012' to float
merged_data['child_tax_credit_lone_parent_percent_2011'] = pd.to_numeric(merged_data['child_tax_credit_lone_parent_percent_2011'], errors='coerce')
merged_data['child_out_of_work_benefit_percent_2012'] = pd.to_numeric(merged_data['child_out_of_work_benefit_percent_2012'], errors='coerce')

In [86]:
print(merged_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4762 entries, 0 to 4761
Data columns (total 65 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   lsoa_code                                     4762 non-null   object
 1   names                                         4762 non-null   object
 2   all_ages_count_2011                           4762 non-null   float64
 3   ages_65_plus_count_2011                       4762 non-null   float64
 4   working_age_count_2011                        4762 non-null   float64
 5   persons_per_hectare_2011                      4762 non-null   float64
 6   couples_with_children_percent_2011            4762 non-null   float64
 7   couples_without_children_percent_2011         4762 non-null   float64
 8   lone_parent_household_percent_2011            4762 non-null   float64
 9   race_white_count_2011                         4762 non-null   float64
 10  race_mixed_count_2011                         4762 non-null   float64
 11  race_asian_count_2011                         4762 non-null   float64
 12  race_african_caribbean_count_2011             4762 non-null   float64
 13  race_other_count_2011                         4762 non-null   float64
 14  born_in_uk_percent_2011                       4762 non-null   float64
 15  main_language_english_adults_16_percent_2011  4762 non-null   float64
 16  tenure_ownded_outright_percent_2011           4762 non-null   float64
 17  tenure_ownded_mortgage_percent_2011           4762 non-null   float64
 18  tenure_social_rented_percent_2011             4762 non-null   float64
 19  tenure_private_rented_percent_2011            4762 non-null   float64
 20  dwelling_house_detached_percent_2011          4762 non-null   float64
 21  dwelling_house_semi_detached_percent_2011     4762 non-null   float64
 22  dwelling_house_terraced_percent_2011          4762 non-null   float64
 23  dwelling_flat_maisonette_percent_2011         4762 non-null   float64
 24  total_crime_offences_rate_2011_12             4762 non-null   float64
 25  violence_against_person_rate_2011_12          4762 non-null   float64
 26  robbery_rate_2011_12                          4762 non-null   float64
 27  burglary_rate_2011_12                         4762 non-null   float64
 28  theft_rate_2011_12                            4762 non-null   float64
 29  bicycle_theft_rate_2011_12                    4762 non-null   float64
 30  criminal_damage_rate_2011_12                  4762 non-null   float64
 31  drugs_rate_2011_12                            4762 non-null   float64
 32  other_rate_2011_12                            4762 non-null   float64
 33  lone_parent_household_percent_2011            4762 non-null   float64
 34  employment_rate_2011                          4762 non-null   float64
 35  no_qualifcations_count_2011                   4762 non-null   float64
 36  highest_qualification_lvl_1_above_count_2011  4762 non-null   float64
 37  highest_qualification_lvl_2_above_count_2011  4762 non-null   float64
 38  highest_qualification_lvl_3_above_count_2011  4762 non-null   float64
 39  highest_qualification_lvl_4_above_count_2011  4762 non-null   float64
 40  jobseekers_people_count_2011                  4762 non-null   float64
 41  jobseekers_people_count_2012                  4762 non-null   float64
 42  rate_of_people_income_support_2011            4762 non-null   float64
 43  rate_of_people_income_support_2012            4762 non-null   float64
 44  rate_of_people_income_support_2012.1          4762 non-null   float64
 45  rate_of_people_income_support_2012.2          4762 non-null   float64
 46  rate_of_people_income_support_2012.3          4762 non-null   float64
 47  bad_health_percent_2011                       4762 non-null   float64
 48  no_car_van_percent_2011                       4762 non-null   float64
 49  cars_per_household_2011                       4762 non-null   float64
 50  travel_time_GP_2011                           4762 non-null   float64
 51  children_poverty-percent_2011                 4762 non-null   float64
 52  child_tax_credit_lone_parent_percent_2011     4761 non-null   float64
 53  child_out_of_work_benefit_percent_2011        4762 non-null   float64
 54  child_out_of_work_benefit_percent_2012        4761 non-null   float64
 55  house_fuel_poor_percent_2011                  4762 non-null   float64
 56  free_school_meals_11_15_percent_2012          4762 non-null   float64
 57  persistent_absentees__percent_2011_12         4762 non-null   float64
 58  avg_point_ks2_percent_2011                    4762 non-null   float64
 59  avg_point_ks2_percent_2012                    4762 non-null   float64
 60  avg_lvl_3_qcda_per_student_2011_12            4762 non-null   float64
 61  avg_capped_gcse_points_per_pupil_2011_12      4762 non-null   float64
 62  rate_of_people_income_support_2011_avg        4762 non-null   float64
 63  rate_of_people_income_support_2012_avg        4762 non-null   float64
 64  rate_of_people_income_support_2011_12         4762 non-null   float64
dtypes: float64(63), object(2)
memory usage: 2.4+ MB
None

So all the columns are float columns except the first two columns, which is fine. I will save the lsoa_census data (i.e. merged_data) in the processed data folder.

In [87]:
# Saving the lsoa_census (merged_data) to the processed folder
lsoa_census_path = '../../data/processed/lsoa_census.csv'
merged_data.to_csv(lsoa_census_path, index=False)